package {{.PackageName}}

import (
	"encoding/json"
{{- if hasValidatableFields .Structs}}
	"errors"
{{- end}}
)

type eventType string

const (
{{- range .Services}}
{{- range .Methods}}
	event{{.Name}} eventType = "{{.EventType}}"
{{- end}}
{{- end}}
)

type event struct {
	Type eventType       `json:"event_type"`
	Data json.RawMessage `json:"data"`
}
{{range .Structs}}
type {{.Name}} struct {
{{- range .Fields}}
	{{.Name}} {{.Type}} `{{.Tag}}`
{{- end}}
}

func (req *{{.Name}}) Validate() error {
{{range .Fields}}{{fieldValidations .}}{{end}}	return nil
}
{{end}}
